html {
    box-sizing: border-box;
    left: 0;
    right: 0;;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* include border and padding in element's total width and height */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
  .ffform{
    
    height: 100vh;
    margin-top: 90px;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
  }
  .logoatt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-group input{
    box-sizing: border-box; /* include padding and border in input's width */
    border: solid 1px #ccc;;
    width: 100%;
    height: 3rem;
    padding-left: 12px;
    margin-top: 10px;
    border-radius: 3px;
    
  }
  .lb{
    font-size: 14px;
  }
  .form-group input:focus{
    transition: 0.2s ease-in-out;
    border: solid 1.5px rgb(69, 123, 238);
    outline: none;
  }
  .form-group{
    width: 75%;
    margin: 0 auto;
  }
  .passpace{
    margin-top: 30px;
  }
  .loginformbutton {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .loginformbutton1 {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .loginformbutton button{
    width: 100%;
    height: 3rem;
    border: none;
    background-color: rgb(69, 123, 238);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

  }
  .loginformbutton button:hover{
    background-color: rgb(85, 131, 231);

  }
  .loginformbutton1 button{
    width: 100%;
    height: 3rem;
    border: solid 2px grey;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    color: grey;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

  }
  .loginformcancel{
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .loginformcancel a{
    text-decoration: none;
    color: rgb(95, 125, 224)
  }
  .loginformcancel a:hover{
    text-decoration: underline;
  }
  .nouserid a{
    margin-top: 9px; 
    text-decoration: none; 
    color: gray;
    margin-bottom: 40px;
  }
  .nouserid a:hover{
    text-decoration: underline; 
  }
  .hr1{
    border: none; /* remove the default border */
  border-top: 1px solid #afaeae; /* add a top border with a width of 1px and a color of #ccc */
  height: 1px; /* set the height to 1px */
  }
  .hr2{
    border: none; 
  border-top: 1px solid #afaeae; 
  height: 1px; 
  }

  .hr2 {
    border: none; /* remove the default border */
    height: 1px; /* set the height of the rule */
    background-color: #ccc; /* set the color of the rule */
    text-align: center; /* center the "or" text */
  }
  
  .hr2::before {
    content: "or"; /* add the "or" text before the rule */
    display: inline-block; /* display the text as an inline block */
    position: relative; /* set the position to relative for positioning */
    top: -0.6em; /* adjust the position of the text */
    padding: 0 0.5em; /* add some padding to the left and right of the text */
    background-color: #fff; /* set the background color of the text to match the background of the parent element */
  }
  

  .forgott a{
    position: relative; float: right;  margin-top: 9px; text-decoration: none; color: rgb(95, 125, 224); font-size: 14px;
  }
  .forgott a:hover{
    text-decoration: underline;
  }

/*newwww verification css begins*/

.gotcode h1{
    font-family:Arial, Helvetica, sans-serif
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container2 form{
    margin-top: 50px !important;
    padding: 20px;

}
.codee,.gotcode, .sent,.noworries,.over{
    max-width: 600px;
    margin: 0 auto;
}
.codee input{
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    height:2rem;
    border-radius: 4px  !important;
    padding-left: 12px !important;
}
.codee input:focus{
    outline: solid 2px rgb(82, 118, 235);
}
.noworries{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.over a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: rgb(82, 118, 235);
    font-weight: 500;
}
.over a:hover{
    text-decoration: underline;
}

.tfabutton button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;;
    width: 300px;
    height: 3rem;
    border-radius: 25px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.tfabutton #bb{
    background-color: rgb(82, 118, 235);
    color: white;
}
.tfabutton #bb:hover{
    background-color: rgb(104, 136, 243);
}
.tfabutton #bbb{
    background-color: rgb(255, 255, 255);
    color: rgb(82, 118, 235);
    border: solid 2px rgb(82, 118, 235);
    cursor: pointer;
}

  @media only screen and (max-width: 420px){
    .ffform{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.0);
      }
  }
  @media only screen and (max-width: 399px){
    .ffform{
    
        height: 85vh;
        margin-top: 10px;
        min-width: 360px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.0);
      }
  }
  
